.form-group {
    min-width: auto;
    min-height: auto;
    /* width: 25vw;
    height: 25vh; */
}

.ng-invalid.ng-touched:not(form){
    border: 1px solid red;
}

.inputfield w-full{
    border-radius: 50px;
    border: 1px solid black;
    width: auto;
}

.text-danger{
    color: red;
}
